// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//Materialize
//$primary-color: #1e88e5 !default;
//$primary-color-light: lighten($primary-color, 15%) !default;
//$primary-color-dark: darken($primary-color, 15%) !default;
//
//$secondary-color: color("teal", "lighten-1") !default;
//$success-color: color("green", "base") !default;
//$error-color: color("red", "base") !default;
//$link-color: color("light-blue", "darken-1") !default;
